.users-list__user {
  border-bottom: 1px solid rgba(240, 248, 255, 0.322);
  padding: 0.8rem 0;
  position: relative;
}
.user-list__container-info {
  display: inline-block;
  width: 80px;
  margin-right: 0.5rem;
}

.user-list__info {
  opacity: 0.6;
}

.user-list__dell-button {
  position: absolute;
  display: flex;
  align-items:center;
  top: 0;
  bottom: 0;
  right: 0;
}

.user-list__dell-button > span {
  opacity: 0;
  cursor: pointer;
  transition: 0.3s;
}

.users-list__user:hover .user-list__dell-button > span {
  opacity: 1;
}

.users-list__wrapper {
  position: relative;
}

.users-list__wrapper > span {
  cursor: default;
}

.users-list__wrapper > input {
  position: absolute;
  display: none;
  height: 100%;
  width: 460px;
  border: none;
  outline: none;
  padding-left: 6px;
  /* background: #306a84; */
  background: none;
  color: aliceblue;
  caret-color: aliceblue;
  left: 15%;
  z-index: 2;
}

.users-list__wrapper .user-list__edit_active {
  display: inline;
}

.user-list__text_disabled {
  opacity: 0;
}